body{
    height: 100%;
    background-size: auto 100%;
    background: linear-gradient(90deg, #7736ae, #4277ad) fixed;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-white{
    color: white;
}

.text-centre{
    text-align: center;
}

.search-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

.search-container input {
    padding-left: 1.5rem;
    border: 2px solid #e3e3e3;
    border-radius: 0.5rem;
}

.search-container i {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #e3e3e3;
}

.dropdown-container {
    width: 100%;
    position: absolute;
    top: 80%;
    z-index: 1;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #e3e3e3;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: white;
}

.dropdown-item {
    position: relative;
    display: block;
    float: left;
}

.dropdown-item:hover {
    cursor: pointer;
}

.card-container{
    padding: 1rem;
    margin: 1rem;
    width: 400px;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    background-color: white;
    text-align: left;
    color: black;
}

.card-container-title {
    color: #7736ae;
    font-weight: bold;
}

.card-container-datetime{
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
}

.text-detail{
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .card-container{
        width: 300px;
    }
}